.progress_bar {
    borderStyle: 'solid',
    borderRadius: 0,
    margin: -1,
    borderTopLeftRadius: 0,
    borderTopRightRadius: 0,
    borderBottomLeftRadius: 5,
    borderBottomRightRadius: 5,
}