.container {
    borderStyle: 'solid',
    borderWidth: 1,
        borderColor: '#DDDDDD',
        borderRadius: 5,
        marginTop: 10,
        height: 118,
        justifyContent: "space-between"
}