.progress_bar {
    border-style: 'solid';
    border-radius: 0;
    margin: -1;
    border-top-left-radius: 0;
    borderTopRightRadius: 0,
    borderBottomLeftRadius: 5,
    borderBottomRightRadius: 5,
}