.container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

/* .textContainer {
    display: flex;
    flex-direction: row;
} */

.budgetMoney {
    display: flex;
    justify-content: space-evenly;
}

.category {
    margin-left: 1rem;
    font-size: 14px;
    font-weight: 600;
    width: 10vw;
}

.budgetMoney {
    display: flex;
    flex-direction: row;
    /* align-items: flex-start; */
    /* justify-content: space-around; */
    /* width: 520px; */
    /* font-size: 16px; */
    /* font-style: normal; */
    /* font-weight: 500; */
    /* margin-left: 6.5rem; */
}