.main {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
}

.navBar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-right: 20vh;
    margin-left: 20vh;
    padding-top: 1rem;
    padding-bottom: .5rem;
}

.pfp {
    margin-right: 1.2rem;
}

.user {
    display: flex;
    align-items: center;
    font-weight: 600;
    cursor: pointer;
}

.divider {
    border-top: 1px solid #cbcbcb;
    border-bottom: none;
    border-left: none;
    border-right: none;
    width: 100%;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-right: 20vh;
    margin-left: 20vh;
    padding-top: 1rem;
    /* padding-bottom: .5rem; */
}

.title {
    font-size: 32px;
}

.warning {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.warningText {
    font-size: 14px;
    margin-left: .5rem;
    font-weight: 600;
}

.dropdown {
    position: absolute;
    top: 90px;
    /* Adjust the top position based on your layout */
    right: 140px;
    /* Adjust the right position based on your layout */
    z-index: 1000;
    /* Set a high z-index to ensure it appears above other elements */
    background-color: white;
    /* Optional: Set the background color */

    box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.25);
    /* Optional: Add a subtle box shadow */
    padding: 10px;
    border-radius: 4px;
}

.icon {
    margin-left: 0.8rem;
}

.contents {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-right: 20vh;
    margin-left: 20vh;
    align-items: center;
sel}

.dateRange {
    font-size: 14px;
    font-weight: 600;
    margin-left: 0em;
    margin-right: 0em;
    margin-top: 0em;
    margin-bottom: 1em;
    padding: 0;
}

.vertical {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.overview {
    width: 752px;
    height: 230px;
    border-radius: 16px;
    border: 1px solid #cbcbcb;
    padding: 1.5em;
    margin-right: .5rem;
    margin-bottom: .5rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.contentTitle {
    display: flex;
    justify-self: flex-start;
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 0;
}

.budgets {
    width: 752px;
    height: 280px;
    border-radius: 16px;
    border: 1px solid #cbcbcb;
    padding: 1.5em;
    padding-top: 1.8em;
    margin-right: .5rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.transactions {
    width: 340px;
    height: 550px;
    border-radius: 16px;
    border: 1px solid #cbcbcb;
    padding: 1.5em;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.date {
    margin: 0;
    margin-top: 1rem;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
}

.chart {
    margin-top: 1em;
    height: 100%;
    display: flex;
    align-content: flex-start;
}