

.navBar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 2rem;
    padding-bottom: .5rem;
}

.wordmark {
    margin-left: 8rem;
}

.divider {
    border-top: 2px solid #A9A9A9;
    border-bottom: none;
    border-left: none;
    border-right: none;
    width: 100%;
}

.title {
    margin-left: 8rem;
}

.pfp {
    margin-right: .5rem;
}

.user {
    display: flex;
    align-items: center;
    margin-right: 8rem;
    font-weight: 700;
}

.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 2rem;
    justify-content: space-between;

}

.warning {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 8rem;

}

.warningText {
    font-size: 14px;
    margin-left: .25rem;
    font-weight: 700;
}

.dropdown {
    position: absolute;
    top: 90px;
    /* Adjust the top position based on your layout */
    right: 140px;
    /* Adjust the right position based on your layout */
    z-index: 1000;
    /* Set a high z-index to ensure it appears above other elements */
    background-color: white;
    /* Optional: Set the background color */

    box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.25);
    /* Optional: Add a subtle box shadow */
    padding: 10px;
    border-radius: 4px;
}

.icon {
    margin-left: .5rem;
}

.budgets {
    width: 752px;
    height: 260px;
    border-radius: 16px;
    border: 1px solid #A9A9A9;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    padding-top: 1em;
    padding-right: 1.5em;
    padding-bottom: 1em;
    padding-left: .5em;
    margin: .5rem;
}



.transactions {
    width: 340px;
    height: 528px;
    border-radius: 16px;
    border: 1px solid #A9A9A9;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    padding: 1em;
    margin: .5rem;
}



.date {
    margin: 0;
    margin-top: 1rem;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
}

.contents {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.vertical {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.overview {
    width: 752px;
    height: 209px;
    border-radius: 16px;
    border: 1px solid #A9A9A9;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    padding: 1em;
    margin: .5rem;
    display: flex;
    justify-content: center;

    flex-direction: column;
}

.overviewTitle {
    display: flex;
    justify-self: flex-start;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
}

.chart {
    display: flex;
    align-content: center;
    width: 752px;
    height: 200px;
    margin-left: 10rem;

}