.button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 0.5em;

    border-radius: 16px;
    border: 1px solid #A9A9A9;
    background: #FFF;
    font-size: 14px;
    font-weight: 500;
}

.logo {
    margin-right: 24px;
}

/* Small Phone */
@media screen and (max-width: 400px) { 
    .button {
        padding: 0;
        height: 44px;
        border-radius: 10px;
        font-size: 12px;
    }
    
    .logo {
        width: 18px;
        margin-right: 16px;
    }
}


/* Large Phone */
@media screen and (min-width: 400px) and (max-width: 600px) { 
    .button {
        border-radius: 10px;
    }

}


/* Small Tablets */
@media screen and (min-width: 600px) and (max-width: 800px) { 
    .button {
        padding-top: 32px;
        padding-bottom: 32px;
        font-size: 20px;
    }
}


/* Large Tablets */
@media screen and (min-width: 800px) and (max-width: 1000px)  { 
    .button {
        padding-top: 32px;
        padding-bottom: 32px;
        font-size: 20px;
    }
}