.button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    padding-top: 20px;
    padding-top: 20px;


    border-radius: 16px;
    border: 1px solid #A9A9A9;
    background: #FFF;
    font-size: 14px;
    font-weight: 500;
}

.logo {
    margin-right: 24px;
}